#Discovery{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    min-height: 500px;

}


 

.wrapper{
    width:80%;
    height: 80%;
    padding: 0 1.5rem;
    flex-flow: wrap;
    margin: auto;
    overflow-y: scroll;
    border-radius: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(240px,1fr));
}


.wrapper::-webkit-scrollbar{
    width: 10px;
    height: 7px;
    background: transparent;
}

.wrapper::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: inherit;
}

.wrapper:hover::-webkit-scrollbar-thumb{
    background-color: var(--ACTION-color);
}



#card{
    border-radius: inherit;
    height: 300px;
    margin: 2rem 1.5rem;
}

/* #card:hover{
    box-shadow:  0px 0px 60px 5px var( --ACTION-color);
}
 */

@media screen and (max-width:900px){
    .wrapper{
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        align-items: center;
    }
    #card{
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px){
    .wrapper::-webkit-scrollbar{
        width: 2px;
        background: transparent;
    }
}
