#Discovery{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}

.wrapper{
    width:80%;
    height: 80%;
    padding: 1.5rem;
    overflow-y: scroll;
    flex-flow: wrap;
    margin: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(240px,1fr));
    box-shadow:  0px 0px 10px 1px var( --ACTION-color);
}

.wrapper::-webkit-scrollbar{
    width: 10px;
    height: 2px;
    background: transparent;
}

.wrapper::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: inherit;
}

.wrapper:hover::-webkit-scrollbar-thumb{
    background-color: var(--ACTION-color);
}



#card{
    border-radius: inherit;
    height: 300px;
    margin: 2rem 1.5rem;
}

#card:hover{
    box-shadow:  0px 0px 60px 5px var( --ACTION-color);
}


@media screen and (max-width:715px){
    #Discovery{
        height: 65vh;
    }

    .wrapper{
        width: 100%;
    }
}
@media screen and (max-width:400px){
    #Discovery{
        height: 75vh;
    }

}